<html>
<head>
    <link rel="stylesheet" src="./styles.css">
    </head>

<body>
    <div style= "margin-bottom: 100px">{{>header}}</div>
    <h1>Hello</h1>
    <form>
        <input type="text" placeholder="Location">
        <button>Search</button>
    </form>

    <div style=" color: green; margin-top: 300px"></div>
        {{>footer}}
    </div>
</body>
</html>
