<html>
    <head>
        <link rel="stylesheet" href="../../static-content/styles.css">
    </head>
    <body>
            <div>
        <h1>{{ title }}</h1>
    </div>
    
    <a href="/weather">Weather</a>
    <a href="/help">help</a>
    <a href="/about">About</a>
    </body>
</html>